/***********This is body element***************/


body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  font-size: 562.5%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #11999E;

}

.btn {
  color: #11999E;
}

.footer-link {
  color: #11999E;
}



/***********This is div class***************/
.pro {
  text-decoration: underline;
}

.Top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}



.middle-container{

}


.bottom-container{

}





/***********************This the imge Class*******************/
.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}


/*******************Skills Class**********************/

.skill-row{
width: 50%;
margin: 100px auto 100px auto;
text-align: left;
line-height: 2;
}





/******************Images Class*******************/

.fight3{
width: 25%;
float: left;
margin-right: 30px;
}

.chillies{
width: 25%;
float: right;
margin-left: 30px;
}
